<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      <p class="has-text-centered">
        <span [class] = "compare(letter, typedText[i])"
        *ngFor="let letter of randomText.split('');let i = index">{{randomText[i]}}</span>
      </p>
      <div class="field">
        <input class="input" [value]="typedText" (input)="onChangeTypedText($event)"/>
      </div>
      <div  *ngIf="typedText == randomText" class="box has-text-centered">
        <h1 class="title">Success!</h1>
      </div>
    </div>
  </div>
</div>